---
title: Figma Thinkers Beta #1
og: https://figmathinkers.com/images/beta-og.png
---

{% include head.html %}

{% include analytics.html %}

{% include nav.html %}







  <div class="mw8 w-100 ph2 ph0-l center">

<div class="flex flex-wrap items-center mv4">
    <div class="w-50-l w-100 pr3-l">
    <div class="bg-figma-beige br-pill f6 pv2 ph3 mv2 dib">A course for non-designers to become confident using Figma</div>
    <h1 class="fw8 f1 mt0 mb0 relative">Master the art of persuasive visual thinking using Figma</h1>
    <p class="pv2">A 4-week course to help non-designers communicate their ideas, create impactful visuals, collaborate in a remote-first world, and prototype their ideas to life <span class="i">(without asking a designer)</span>.</p>
    <div class="br0 bg-figma-green hover-figma-dark-green ba bw1 b--black white pa3 dib relative">
        <div class="figma-box figma-box-top-left"></div>
        <div class="figma-box figma-box-top-right"></div>
        <div class="figma-box figma-box-bottom-right"></div>
        <div class="figma-box figma-box-bottom-left"></div>
        <a href="https://figmathinkers.com/" class="link white b">JOIN THE WAITLIST</a>    
    </div>
    <div class="f6 pt3 black-50">Starts March 13th · Sold Out!</div>
</div>
<div class="w-50-l w-100 pl3-l">
    <img src="/images/venn2.png" />
</div>
</div>

<div class="mw8 center pt5 w-100 ph2 ph0-l pv4">
    <div class="flex flex-wrap">
      <div class="w-50-l w-100 pr4-l">
        <h2 class="f2-l f3 mb0 fw8">Become confident and fluent in visual work</h2>
        <div class="flex">
            <img class="mr3" src="/images/shape-pyramid-1.svg" />
            <div><p>Communicate your ideas with more impact by working visually</p></div>
        </div>
        <div class="flex">
            <img class="mr3" src="/images/shape-pyramid-1.svg" />
            <div><p>Work faster with collaborators and become a team player with Figma</p></div>
        </div>
        <div class="flex">
            <img class="mr3" src="/images/shape-pyramid-1.svg" />
            <div><p>Learn to work side by side with designers in Figma files</p></div>
        </div>
        <div class="flex">
            <img class="mr3" src="/images/shape-pyramid-1.svg" />
            <div><p>Build prototypes, slide decks, and websites in Figma without a designer</p></div>
        </div>                
      </div>
      <div class="w-50-l w-100 pl4-l">
        <div class="ba b--black bw1 bg-white pa4 f4 relative">
          <div class="figma-box figma-box-top-left"></div>
          <div class="figma-box figma-box-top-right"></div>
          <div class="figma-box figma-box-bottom-right"></div>
          <div class="figma-box figma-box-bottom-left"></div>
          <p class="b">DESIGNED FOR:</p>
          <div class="flex pa2">
            <div class="w-10 mr2"><img  src="/images/programming-keyboard-type%201.svg" /></div>
            <div class="w-90"><p class="pa0 ma0"><span class="b">Developers & engineers</span> who are working with designers</p></div>
          </div>
          <div class="flex pa2">
            <div class="w-10 mr2"><img  src="/images/Cursor.svg" /></div>
            <div class="w-90"><p class="pa0 ma0"><span class="b">Product managers</span> who are managing web projects </p></div>
          </div>
          <div class="flex pa2">
            <div class="w-10 mr2"><img  src="/images/performance-presentation-graph 1.svg" /></div>
            <div class="w-90"><p class="pa0 ma0"><span class="b">Strategy consultants </span> who are communicating visually with
              concepts
              and mockups</p></div>
          </div>
          <div class="flex pa2">
            <div class="w-10 mr2"><img  src="/images/performance-presentation-graph 1.svg" /></div>
            <div class="w-90"><p class="pa0 ma0"><span class="b">Creators & founders </span> who need to create visual assets</p></div>
          </div>
          <div class="flex pa2">
            <div class="w-10 mr2"><img  src="/images/Cursor.svg" /></div>
            <div class="w-90"><p class="pa0 ma0">... and anyone who wants to learn to work and think visually and unlock the power of Figma!</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

<div class="center tc pv4">
  <img class="" src="/images/bendy-down-arrow.svg" />
</div>


<div class="mw7 ph5-l center mv4">
    <div class="ttu bg-figma-green br-pill pv2 ph3 f6 b white dib">The Problem</div>
    <h2 class="f2-l f3 mb0 fw8 mt2">The modern professional playground requires new skills</h2>
    <p class="relative">And sometimes, that means creating visuals to persuade.
<br><br>
        You might be presenting a deck to the company or a client, working closely with designers or engineers, or wishing you could create a simple wireframe to show how someone should interact with your SaaS product.
        <img src="/images/diagram-trangle.svg" class="dn db-l absolute underdiagram underright"/>
        <br><br>
        Or maybe, you just need to mock up a landing page for your consulting service to communicate the idea that’s locked up inside your head.
        <br><br>
        But, the only tools you’re comfortable using aren’t advanced enough. Tools like Google Slides, Canva, and Powerpoint can’t quite get the job done. 
        <br><br>
        You might even feel yucky using them. 
        <br><br>
        <img src="/images/diagram-cylinder.svg" class="dn db-l absolute underdiagram underleft"/>
        If you’re lucky enough to have a designer on staff, you risk getting an eye roll, as if to say, “Can’t you just do this yourself?” Or if you’re unlucky, you start wasting precious time asking friends of friends if they have a design friend they might recommend who is cheap and fast. 
        <br><br>
        
        Figma can feel intimidating by its infinite canvas, and so you fall back to comfortable tools like Canva, Powerpoint, or copying and pasting images from Google image search. 
        <br><br>
        But you don’t need to be a designer to bring your ideas to the canvas. 
        <br><br>
        You just need to learn the fundamentals of Figma, which will give you more confidence to stand out and collaborate more confidently. </p>
        <div class="center tc">
            <img class="h3" src="/images/logo-round.png" />
          </div>
</div>



<div class="mw8 center pt5 w-100 ph2 ph0-l mv4">

    <div class="flex flex-wrap items-center">
        <div class="w-50-l pr3-l">
        <div class="ttu bg-figma-green br-pill pv2 ph3 f6 b white dib">The Solution</div>
        <h2 class="f2-l f3 mb0 fw8 mt2">Build the skills required to overcome everyday visual obstacles</h2>
        <p>
            Figma is leading a revolution in the world of work - ushering in a more visual, more expressive and more immerse working experience. 
<br><br>
In four weeks, you’ll learn how to work and think visually by facing visual obstacles, in Figma. Each obstacle represents a situation where you’ll learn to use Figma to navigate it.
<br><br>
Obstacles include prototyping clickable frames, collaborating, creating visuals from scratch, commenting on each others’ work, building slide decks and wire framing your ideas to life.
<br><br>
You’ll come into the workshop with a capstone idea, and leave with the confidence to think visually. 
        </p>
    </div>
    <div class="w-50-l w-100 pl4-l">
        <img src="/images/obstacle-course.svg" />
    </div>
    </div>
  </div>

  <div class="mw8 center pt5 w-100 ph2 ph0-l mv4">
      <div class="bg-figma-beige br3 pa4">
        <div class="flex flex-wrap items-center justify-between">
            <div class="w-100 w-70-l">
                <div class="ttu bg-figma-green br-pill pv2 ph3 f6 b white dib">Bonus!</div>
        <h2 class="f2 mb0 fw8 mt2">Create your own design toolkit</h2>
        <p>As part of the course we’ll help you build a library of re-usable components, examples and templates that you can use on any project to work faster, and save yourself starting from scratch every time.</p>
            </div>
            <div class="w-auto-l w-100">
                <img src="https://figmathinkers.com/images/toolkit.svg" />
            </div>
        </div>
        
      </div>
  </div>
  
  <div class="mw8 center pt5 w-100 ph2 ph0-l pv4">
    
    <div class="flex flex-wrap items-center">
        <div class="w-50-l w-80 center pr4-l">
            <img src="/images/arrows-photo-2.png" />
          </div>
        <div class="w-50-l w-100 pl3-l">
            <h2 class="f2 mb0 fw8">Who are we?</h2>
      <p>Hi, we’re Nate and Tom. As a creative director (Nate) and strategy consultant (Tom) we’ve seen Figma used in all kinds of situations; from presentations to website mockups to org charts. We both use Figma heavily in our daily workflows - not only for design, in fact often NOT for design.
        <br><br>
        <a href="https://www.kadlac.com/">Nate</a> has helped companies raise millions in funding with his persuasively designed pitch decks, designed mobile experiences used by millions, and most recently used Figma to lead product and brand design for a startup acquired in the mid-eight figures.
        <br><br>
        <a href="https://tomcritchlow.com/">Tom</a> has prepared presentations for Sundar the CEO of Google, consulted with brands like The New York Times and runs the SEO MBA, a platform for teaching executive communication skills. Tom isn't a designer but uses Figma heavily as a solopreneur and consultant.</p>
      </div>
      
    </div>
  </div>

  <div class="center tc pv4">
    <img class="" src="/images/bendy-down-arrow.svg" />
  </div>

  <div class="mw7 ph5-l center">
    <div class="ttu bg-figma-green br-pill pv2 ph3 f6 b white dib">The Course</div>
    <h2 class="f2-l f3 mb0 fw8 mt2">The Figma Thinkers experience</h2>
    <p>The beta cohort is capped at 12 people. Each week contains two sessions developed to overcome your obstacles and push past what you think you’re capable of. 
        <br><br>
        Over eight sessions, you’ll learn everything from the interface essentials of Figma to building and working visually in a new way.</p>
</div>
    
    
<div class="mw8 center w-100 ph2 ph0-l mt3">
    <div class="flex flex-wrap">
        <div class="w-50-l w-100 pv4 pr5-l relative">
            <img src="/images/beta-week1-icon.svg" />
            <h2 class="mv0">Week 1: Figma Essentials</h2>
            <p class="mt2">Get set up with Figma and learn the basics of frames, shapes, text, layouts. We’ll teach you how to collaborate and become comfortable in any Figma file.
                <br><br>
                <span class="i">Weekly Project: Everyone will design a simple visual asset</span></p>
                <div class="ba bg-white relative pa3">
                    <div class="figma-box figma-box-top-left"></div>
                    <div class="figma-box figma-box-top-right"></div>
                    <div class="figma-box figma-box-bottom-right"></div>
                    <div class="figma-box figma-box-bottom-left"></div>
                    <div class="flex pv3">
                        <div class="blackdot white tc flex items-center justify-around mr2">1</div>
                        <div>
                            <div class="b">Live Instruction</div>
                            <div class="black-50">Mon March 13 @ 12pm ET</div>
                        </div>
                        <div class="ml-auto black-50">90 mins</div>
                    </div>
                    <div class="flex pv3">
                        <div class="blackdot white tc flex items-center justify-around mr2">2</div>
                        <div>
                            <div class="b">Studio Session</div>
                            <div class="black-50">Wed March 15 @ 11.30pm ET</div>
                        </div>
                        <div class="ml-auto black-50">90 mins</div>
                    </div>                    
                </div>
        </div>

        <div class="w-50-l w-100 pv4 pl5-l relative">
            <img src="/images/beta-week2-icon.svg" />
            <h2 class="mv0">Week 2: Working Visually</h2>
            <p class="mt2">Get confident working with design files, components and more advanced tools. Make mockups, concepts and wireframes and work with design files that someone else made. Learn how to give better visual feedback on concepts.
                <br><br>
                <span class="i">Weekly project: Give feedback on a real design file</span></p>
                <div class="ba bg-white relative pa3">
                    <div class="figma-box figma-box-top-left"></div>
                    <div class="figma-box figma-box-top-right"></div>
                    <div class="figma-box figma-box-bottom-right"></div>
                    <div class="figma-box figma-box-bottom-left"></div>
                    <div class="flex pv3">
                        <div class="blackdot white tc flex items-center justify-around mr2">3</div>
                        <div>
                            <div class="b">Live Instruction</div>
                            <div class="black-50">Mon March 20 @ 12pm ET</div>
                        </div>
                        <div class="ml-auto black-50">90 mins</div>
                    </div>
                    <div class="flex pv3">
                        <div class="blackdot white tc flex items-center justify-around mr2">4</div>
                        <div>
                            <div class="b">Studio Session</div>
                            <div class="black-50">Wed March 22 @ 11.30pm ET</div>
                        </div>
                        <div class="ml-auto black-50">90 mins</div>
                    </div>                    
                </div>
        </div>
        
        <div class="w-50-l w-100 pv4 pr5-l">
            <img src="/images/beta-week3-icon.svg" />
            <h2 class="mv0">Week 3: Thinking Visually</h2>
            <p class="mt2">Get inspired to use Figma for knowledge work like running workshops, designing presentations and creating diagrams and visuals.
                <br><br>
                <span class="i">Weekly Project: Create a slide deck template</span></p>
                <div class="ba bg-white relative pa3">
                    <div class="figma-box figma-box-top-left"></div>
                    <div class="figma-box figma-box-top-right"></div>
                    <div class="figma-box figma-box-bottom-right"></div>
                    <div class="figma-box figma-box-bottom-left"></div>
                    <div class="flex pv3">
                        <div class="blackdot white tc flex items-center justify-around mr2">5</div>
                        <div>
                            <div class="b">Live Instruction</div>
                            <div class="black-50">Mon March 27 @ 12pm ET</div>
                        </div>
                        <div class="ml-auto black-50">90 mins</div>
                    </div>
                    <div class="flex pv3">
                        <div class="blackdot white tc flex items-center justify-around mr2">6</div>
                        <div>
                            <div class="b">Studio Session</div>
                            <div class="black-50">Wed March 29 @ 11.30pm ET</div>
                        </div>
                        <div class="ml-auto black-50">90 mins</div>
                    </div>                    
                </div>
        </div>
        
        <div class="w-50-l w-100 pv4 pl5-l">
            <img src="/images/beta-week4-icon.svg" />
            <h2 class="mv0">Week 4: Get Creative!</h2>
            <p class="mt2">Work on your own project, whether it's a website mockup, presentation template or personal design system. Get 1:1 feedback and support.
                <br><br>
                <span class="i">Weekly Project: Ship your own creative project!</span></p>
                <div class="ba bg-white relative pa3">
                    <div class="figma-box figma-box-top-left"></div>
                    <div class="figma-box figma-box-top-right"></div>
                    <div class="figma-box figma-box-bottom-right"></div>
                    <div class="figma-box figma-box-bottom-left"></div>
                    <div class="flex pv3">
                        <div class="blackdot white tc flex items-center justify-around mr2">7</div>
                        <div>
                            <div class="b">Live Instruction</div>
                            <div class="black-50">Mon April 3 @ 12pm ET</div>
                        </div>
                        <div class="ml-auto black-50">90 mins</div>
                    </div>
                    <div class="flex pv3">
                        <div class="blackdot white tc flex items-center justify-around mr2">8</div>
                        <div>
                            <div class="b">Studio Session</div>
                            <div class="black-50">Wed April 5 @ 11.30pm ET</div>
                        </div>
                        <div class="ml-auto black-50">90 mins</div>
                    </div>                    
                </div>
        </div>        

   

    </div>
</div>

<div class="mw7 ph2 ph5-l center pv4" id="join">
    <h2 class="f2-l f3 mb0 fw8 pv3">Join us in our inaugural cohort</h2>
    <div class="bg-white pa4 ba relative">
        <div class="figma-box figma-box-top-left"></div>
        <div class="figma-box figma-box-top-right"></div>
        
        
        <div class="flex items-center">
            <div>
                <h2 class="mv0 f2-l f3">Cohort #1</h2>
            </div>
            <div class="ml-auto f2-l f3">
                <s>$1999</s> <span class="b figma-green">$499</span>
            </div>
            
        </div>
        <div class="f6 pt2 pb4 black-50">Workshop starts March 13th</div>

        <div class="f4-l f5">
            <div class="flex pv2">
                <img class="mr3" src="/images/shape-pyramid-1.svg" />
                <div>Live workshop hosted by Tom & Nate</div>
            </div>
            <div class="flex pv2">
                <img class="mr3" src="/images/shape-pyramid-1.svg" />
                <div>Weekly projects</div>
            </div>
            <div class="flex pv2">
                <img class="mr3" src="/images/shape-pyramid-1.svg" />
                <div>Two 90-min sessions every week to learn and pactice</div>
            </div>
            <div class="flex pv2">
                <img class="mr3" src="/images/shape-pyramid-1.svg" />
                <div>Beginner friendly, small cohort</div>
            </div>                        
        </div>
    </div>
    <div class="bg-black white relative mt0 pt0 ba b--black pa4">
        <div class="figma-box figma-box-bottom-right"></div>
        <div class="figma-box figma-box-bottom-left"></div>
        <p class="ttu b pv2">Included Bonuses</p>
        <div class="f4-l f5">
            <div class="flex pv2">
                <img class="mr2" src="/images/shape-pyramid-1.svg" />
                <div>Personal design toolkit</div>
            </div>
            <div class="flex pv2">
                <img class="mr2" src="/images/shape-pyramid-1.svg" />
                <div>Templates and files to re-use</div>
            </div>
            <div class="flex pv2">
                <img class="mr2" src="/images/shape-pyramid-1.svg" />
                <div>1:1 Feedback and support</div>
            </div>                        
        </div>

    </div>

    <div class="center tc mv4">
        <div class="br0 bg-figma-green hover-figma-dark-green ba bw1 b--black white pa3 dib relative">
            <div class="figma-box figma-box-top-left"></div>
            <div class="figma-box figma-box-top-right"></div>
            <div class="figma-box figma-box-bottom-right"></div>
            <div class="figma-box figma-box-bottom-left"></div>
            <a href="https://figmathinkers.com/" class="link white b">JOIN THE WAITLIST</a>    
        </div>
        <div class="f6 pt3 black-50">Starts March 13th · Sold Out!</div>
    </div>
</div>


<div class="w-100 ph2 ph0-l mw8 center pv5 mb5">

    <h2 class="f2 mb0 fw8">Have questions?</h2>

    <details class="pa3 br2 w-100-l bg-figma-light-brown mv2">
      <summary>Do I need to know how to use Figma before joining?</summary>
      <p>Not at all! We'll take you all the way from opening Figma for the first time to becoming comfortable working in Figma.</p>
    </details>

    <details class="pa3 br2 w-100-l bg-figma-light-brown mv2">
        <summary>I'm a [product manager / UX researcher / florist / other] is this course right for me?</summary>
        <p>Yes! We're intentionally designing this course to be relevant and useful to all kinds of folks. The *most* relevant audience is likely knowledge workers who are already working with Google Docs, Slack and collaborating virtually. Figma is a communication and productivity tool so we believe lots of people can benefit from learning how to use it!</p>
      </details>    

      <details class="pa3 br2 w-100-l bg-figma-light-brown mv2">
        <summary>I already know how to use the basics of Figma, is this course right for me?</summary>
        <p>Probably! Beyond the basics, the course will inspire you to use Figma in new ways, as well as teach you how to do more advanced things like using components, prototypes and more. Plus, the course is structured around a specific project you want to make so you'll leave the course with new stuff whatever happens!</p>
      </details>

      <details class="pa3 br2 w-100-l bg-figma-light-brown mv2">
        <summary>What is the week 4 project?</summary>
        <p>You get to choose! We'll help you with some standard options and guidance but if there's a specific website / project / presentation / design system / logo that you want to work on that's valuable for your work then we'll coach and support you as you work on it.</p>
      </details>      

    <details class="pa3 br2 w-100-l bg-figma-light-brown mv2">
        <summary>What does a "beta" mean?</summary>
        <p>It means we're still testing the materials and the course might be a little less polished around the edges. But the good news is that we're going to be really devoting a lot of time and energy to make sure we're supporting our first cohort. Hopefully this will be a fun learning experience for all of us!</p>
      </details>

      <details class="pa3 br2 w-100-l bg-figma-light-brown mv2">
        <summary>Is there a guarantee?</summary>
        <p>We value your time and commitment and promise to provide a premium learning experience. We will also fully honor any refund request for any reason within 30 days of the workshop. During the beta cohort and because of the reduced cost, we will politely ask why it wasn’t a good fit so we can create a better experience for future students. </p>
      </details>      

    <details class="pa3 br2 w-100-l bg-figma-light-brown mv2">
        <summary>Are you related to Figma?</summary>
        <p>No! This projet is not endorsed by or supported by Figma. However Nate and Tom live and work in Figma all day long and love the product</p>
      </details>



  </div>

</div>


      <script src="script.js"></script>
</body>

</html>

