---
title: Figma Thinkers Beta #1
---

{% include head.html %}

{% include analytics.html %}

{% include nav.html %}







  <div class="mw8 w-100 ph2 ph0-l center">

<div class="flex flex-wrap">
    <div class="w-50-l w-100">
    <h1 class="fw8 f1 lh-title mb0 relative">Master the art of persuasive visual thinking using Figma</h1>
    <p>A 4-week course to help non-designers create impactful visuals, collaborate in a remote-first world, and prototype their ideas to life (without asking a designer).</p>
    <div class="br0 bg-figma-green ba b--black white pv3 ph2 dib relative">
        <div class="figma-box figma-box-top-left"></div>
        <div class="figma-box figma-box-top-right"></div>
        <div class="figma-box figma-box-bottom-right"></div>
        <div class="figma-box figma-box-bottom-left"></div>
        <a href="#" class="link white b">Enroll in the beta workshop</a>    
    </div>
</div>
<div class="w-50-l w-100">
    <img src="/images/venn2.png" />
</div>
</div>

<div class="mw8 center pt5 w-100 ph2 ph0-l">
    <div class="flex flex-wrap">
      <div class="w-50-l w-100 pr4-l">
        <h2 class="f2-l f3 mb0 fw8">Stop relying on your friend of a friend who knows design, or basic tools like Canva</h2>
        <p>Figma isn’t just for designers, plenty of knowledge workers can (and should!) be using Figma in their workflows.</p>
        <img class="pv2 dn db-l" src="/images/bezier.svg" />
      </div>
      <div class="w-50-l w-100 pl4-l">
        <div class="ba b--black bw1 bg-white pa4 f4 relative">
          <div class="figma-box figma-box-top-left"></div>
          <div class="figma-box figma-box-top-right"></div>
          <div class="figma-box figma-box-bottom-right"></div>
          <div class="figma-box figma-box-bottom-left"></div>
          <div class="flex pa2">
            <div class="w-10 mr2"><img  src="/images/programming-keyboard-type%201.svg" /></div>
            <div class="w-90"><p class="pa0 ma0"><span class="b">Developers & engineers</span> who are working with designers</p></div>
          </div>
          <div class="flex pa2">
            <div class="w-10 mr2"><img  src="/images/Cursor.svg" /></div>
            <div class="w-90"><p class="pa0 ma0"><span class="b">Product managers</span> who are managing web projects </p></div>
          </div>
          <div class="flex pa2">
            <div class="w-10 mr2"><img  src="/images/performance-presentation-graph 1.svg" /></div>
            <div class="w-90"><p class="pa0 ma0"><span class="b">Strategy consultants </span> who are communicating visually with
              concepts
              and mockups</p></div>
          </div>
          <div class="flex pa2">
            <div class="w-10 mr2"><img  src="/images/performance-presentation-graph 1.svg" /></div>
            <div class="w-90"><p class="pa0 ma0"><span class="b">Creators & founders </span> who need to create visual assets</p></div>
          </div>
          <div class="flex pa2">
            <div class="w-10 mr2"><img  src="/images/Cursor.svg" /></div>
            <div class="w-90"><p class="pa0 ma0">... and anyone who wants to learn to work and think visually and unlock the power of Figma!</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

<div class="center tc mv4">
  <img class="" src="/images/bendy-down-arrow.svg" />
</div>


<div class="mw7 ph5-l center">
    <div class="ttu bg-figma-green br-pill pa2 f6 b white dib">The Problem</div>
    <h2 class="f2-l f3 mb0 fw8 mt2">The modern professional playground requires new skills</h2>
    <p>And sometimes, that means creating visuals to persuade.

        You might be presenting a deck to the company or a client, working closely with designers or engineers, or wishing you could create a simple wireframe to show how someone should interact with your SaaS product.
        
        Or maybe, you just need to mock up a landing page for your consulting service to communicate the idea that’s locked up inside your head.
        
        But, the only tools you’re comfortable using aren’t advanced enough. Tools like Google Slides, Canva, and Powerpoint can’t quite get the job done. 
        
        You might even feel yucky using them. 
        
        If you’re lucky enough to have a designer on staff, you risk getting an eye roll, as if to say, “Can’t you just do this yourself?” Or if you’re unlucky, you start wasting precious time asking friends of friends if they have a design friend they might recommend who is cheap and fast. 
        
        Figma can feel intimidating by its infinite canvas, and so you fall back to comfortable tools like Canva, Powerpoint, or copying and pasting images from Google image search. 
        
        But you don’t need to be a designer to bring your ideas to the canvas. 
        
        You just need to learn the fundamentals of Figma, which will give you more confidence to stand out and collaborate more confidently. </p>
        <div class="center tc">
            <img class="" src="/images/logo-round.png" />
          </div>
</div>



<div class="mw8 center pt5 w-100 ph2 ph0-l ">
    <div class="ttu bg-figma-green br-pill pa2 f6 b white dib">The Problem</div>
    <h2 class="f2-l f3 mb0 fw8 mt2">The modern professional playground requires new skills</h2>


  </div>





    
    



  

  </div>


    <div class="mw8 center pt5 w-100 ph2 ph0-l ">
      <h2 class="f2 mb0 fw8">Why are we building this?</h2>
      <div class="flex flex-wrap-reverse">
        <div class="w-60-l w-100 pr5-l">

        <p>Hi, we’re Nate and Tom. As a creative director (Nate) and strategy consultant (Tom) we’ve seen Figma used in all kinds of situations; from presentations to website mockups to org charts. And we both use Figma heavily in our daily workflows for all kinds of non-design work.</p>

<p>We deeply believe that Figma is leading a revolution in the world of work - ushering in a more visual, more expressive and more immerse working experience. We made this course to specifically help non-designers understand how to use Figma, feel more confident working with others in Figma and to inspire you with examples and ideas for working on a canvas.</p>
        </div>
        <div class="w-40-l w-80 center">
          <img src="/images/arrows-photo.png" />
        </div>
      </div>
    </div>




	<div class="mw8 center pt5 w-100 ph2 ph0-l tc">
        <h2 class="w-60-l f2-l f3 mb0 fw8 tc center">Figma isn't a design tool, it's canvas for communication</h2>
        <p class="tc">By the end of the course you'll be able to:</p>


<img class="dn db-l pa4" src="/images/venn.svg" />
	<img class="db dn-l center" src="/images/venn-mobile.svg" />

      </div>


      <div class="mw8 center pt5 w-100 ph2 ph0-l">
        <div class="w-50-l">
          <h2 class="f2-l f3 mb0 fw8">Watch us build this course in public</h2>
          <p>From idea to fully developed course, we’re bringing everyone along for the ride. If you would like to join
            us
            as we build out the course, you can sign up here. </p>
        </div>

        <div class="flex flex-wrap f5 figma-darker-grey justify-between ph3 ph0-l">
          <div class="videobox pb3">
            <div class="">
              <a href="https://youtu.be/cIM9UPsp1aE"><img src="/images/week1.png" /></a>
            </div>
            <div class="ttu pv1  b">Week 1</div>
            <div class="">Idea generation and discovery work</div>
          </div>

          <div class="videobox pb3">
            <div class="">
              <a href="https://www.youtube.com/watch?v=c-u-dzc45Iw&ab_channel=FigmaThinkers"><img src="/images/week2.png" /></a>
            </div>
            <div class="ttu pv1  b">Week 2</div>
            <div class="">Naming, content and wireframing</div>
          </div>

          <div class="videobox pb3">
            <div class="">
              <a href="https://www.youtube.com/watch?v=qtLe-Qg7lxo&ab_channel=FigmaThinkers"><img src="/images/week3.png" /></a>
            </div>
            <div class="ttu pv1  b">Week 3</div>
            <div class="">Initial design and setting up dev environment</div>
          </div>

          <div class="videobox pb3">
            <div class="">
              <a href="https://www.youtube.com/watch?v=goub9EJLHyU&ab_channel=FigmaThinkers"><img src="/images/week4.png" /></a>
            </div>
            <div class="ttu pv1  b">Week 4</div>
            <div class="">Course format & learning outcomes</div>
          </div>
          
          <div class="videobox pb3">
            <div class="">
              <a href="https://www.youtube.com/watch?v=5C_JomD12MQ&ab_channel=FigmaThinkers"><img src="/images/week5.png" /></a>
            </div>
            <div class="ttu pv1  b">Week 5</div>
            <div class="">Branding & course asset creation</div>
          </div>
          
          <div class="videobox pb3">
            <div class="">
              <a href="https://www.youtube.com/watch?v=qbLOrmXZM3A"><img src="/images/week6.png" /></a>
            </div>
            <div class="ttu pv1  b">Week 6</div>
            <div class="">Defining the course beta cohort</div>
          </div>          

          <div class="videobox pb3">
            <div class="">
              <img src="/images/box.svg" />
            </div>
            <div class="ttu pv1  b">Week 7</div>
            <div class=""><a class="figma-green" href="#top">Sign up to join</a></div>
          </div>

          <div class="videobox pb3">
            <div class="">
              <img src="/images/box.svg" />
            </div>
            <div class="ttu pv1  b">Week 8</div>
            <div class=""><a class="figma-green" href="#top">Sign up to join</a></div>
          </div>

          <div class="videobox pb3">
            <div class="">
              <img src="/images/box.svg" />
            </div>
            <div class="ttu pv1  b">Week 9</div>
            <div class=""><a class="figma-green" href="#top">Sign up to join</a></div>

          </div>

          <div class="videobox pb3">
            <div class="">
              <img src="/images/box.svg" />
            </div>
            <div class="ttu pv1  b">Week 10</div>
            <div class=""><a class="figma-green" href="#top">Sign up to join</a></div>

          </div>

          <div class="videobox pb3">
            <div class="">
              <img src="/images/box.svg" />
            </div>
            <div class="ttu pv1  b">Week 11</div>
            <div class=""><a class="figma-green" href="#top">Sign up to join</a></div>

          </div>

          <div class="videobox pb3">
            <div class="">
              <img src="/images/box.svg" />
            </div>
            <div class="ttu pv1  b">Week 12</div>
            <div class=""><a class="figma-green" href="#top">Sign up to join</a></div>

          </div>

        </div>


      </div>


      <div class="mw8 w-100 ph2 ph0-l center pt5">
        <h2 class="f2 mb0 fw8">Who are we?</h2>
        <div class="w-60-l">
          <p><a href="https://www.kadlac.com/">Nate Kadlac</a> is an independent creative director and consultant working with brands like Minnesota Public Radio and Best Buy. He's currently teaching with the course <a href="https://www.approachabledesign.co/">Approachable Design</a></p>    
          <p><a href="https://tomcritchlow.com" />Tom Critchlow</a> is an independent consultant, working in digital media and innovation for brands like The New York Times, Etsy and Google. He's also the founder of the <a href="https://seomba.com">SEO MBA</a></p>

          
        </div>
        
        
          
        
        

      </div>

      <div class="w-100 ph2 ph0-l mw8 center pv5 mb5">

        <h2 class="f2 mb0 fw8">Have questions?</h2>

        <details class="pa3 br2 w-100-l bg-figma-light-brown">
          <summary>Is the course live or self-paced?</summary>
          <p>Great question! We haven't built it yet. We are planning on doing a live beta to test the material in the
            next few weeks</p>
        </details>

		<details class="pa3 br2 w-100-l bg-figma-light-brown">
			<summary>Are you related to Figma?</summary>
			<p>No! This projet is not endorsed by or supported by Figma. However Nate and Tom live and work in Figma all day long and love the product</p>
		  </details>



      </div>




      <script src="script.js"></script>
</body>

</html>

