<div class="mw8 w-100 ph2 ph0-l center pv4 flex items-center">
    <div class="">
      <div class="fw8 pb1">
          <a href="/"><img class="h3" src="/images/logo.png"/></a>
      </div>
    </div>
    <div class="ml-auto figma-dark-grey">
        <a href="https://buttondown.email/figmathinkers" class="link figma-dark-grey ph2">Beta</a>
        <a href="https://buttondown.email/figmathinkers" class="link figma-dark-grey ph2">Newsletter</a>
      <a href="https://buttondown.email/figmathinkers" class="link figma-dark-grey ph2">About</a>
      
    </div>
  </div>