<div class="mw8 w-100 ph2 ph0-l center pv4 flex flex-wrap items-center">
    <div class="w-100 w-auto-l tc tl-l">
      <div class="fw8 pb1">
          <a href="/"><img class="h3" src="/images/logo.png"/></a>
      </div>
    </div>
    <div class="ml-auto figma-dark-grey w-100 w-auto-l tc tl-l">
        <a href="/beta/" class="link figma-dark-grey ph2">Course</a>
        <a href="https://buttondown.email/figmathinkers" class="link figma-dark-grey ph2">Newsletter</a>
      <a href="/" class="link figma-dark-grey ph2">About</a>
      
    </div>
  </div>